extends layout

block content
    #container.col
      h1 Demand and Supply as a Service
      p The data value chain is an important concept that involves identifying the various activities and roles in manufactoring a non-tangible data product. In our information society, data increasingly becomes a commodity and the basis for many products and services. With this portal we strive to balance the demand and supply of data, with the aim of generating a new Economic Data Ecosystem that has the Web of Data as its core.
      p Through the Demand and Supply as a Service (DSAAS), we enable data producers to advertise the data they produce, and thus data consumers can search for the data they require. The data consumers can also publish a request for specific data, if this is not already provided by a producer. In this way, we aim to enable and encourage data re-use and exploitation, providing the means to generate value through a data product.
      &nbsp;
      img(src= "images/model.png", style="width:40%").center-block.img-thumbnail
      &nbsp;
      &nbsp;
      p In order to best represent the supply and demand of data, we defined the Demand and Supply Ontology (DSO) to act as the underlying schema to the DSAAS. Whilst striving to re-use existing concepts to ensure interoperability, the DSO improves upon existing schemas in that it enables us to represent all the involved actors, as well as their relationships with the data at hand, in context of the demand and supply of data, as well as its re-use. The core concepts of the DSO are shown in the following figure. 

      &nbsp;
      img(src= "images/onto.png", style="width:60%").center-block.img-thumbnail
