extends layout

block content
    style(type='text/css').
      .bootstrap-tagsinput {
      width: 100%;
      }
      .label {
      line-height: 2 !important;
      }
    .container
      // Example row of columns
      .row
        .col-md-12
          h1 Contribute to the Demand and Supply Cloud
          p
            | Data publishers are encouraged to advertise their data API here. This will advertise existing data and encourage its consumption. For submitting your API using the DSaaS RESTful API, click 
            a(href='/api') here
            | .
      .row
        .col-md-8
          form#formAddPub
            .form-group
              label(for='txtPubName') Publisher
              input#txtPubName.form-control(type='text', placeholder='e.g. Music Brainz')
            .form-group
              label(for='txtPubURL') Dataset URL
              input#txtPubURL.form-control(type='url', placeholder='e.g. http://musicbrainz.org/')
            // Domains
            .form-group
              label(for='txtPubDomain') Dataset Domain
              input#txtPubDomain.form-control(type='text', data-role='tagsinput', placeholder='e.g. Music')
            //span#helpBlockDomain.help-block A Publisher should tag their data with one or more domains
            span#pubDomains.form-control-static.text-primary
            // Nature of Content
            .form-group
              label(for='txtPubContent') Nature of Content
              input#txtPubContent.form-control(type='text', data-role='tagsinput', placeholder='e.g. Records or Images')
            //span#helpBlockDomain.help-block What kind of data does the Publisher Produce?
            span#pubContent.form-control-static.text-primary
            // API Formats
            .form-group
              label(for='txtPubAPI') Available Access Methods
              input#txtPubAPI.form-control(type='text', data-role='tagsinput', placeholder='e.g. Rest API')
            span#pubAPI.form-control-static.text-primary
            .form-group
              label(for='txtPubLicence') Dataset Licence
              input#txtPubLicence.form-control(type='text', placeholder='e.g. MIT/GPL')
            .form-group
              label(for='ddLanguage') Language      
              select#ddLanguage.form-control
               option(value='') Select Language
            span#pubAPI.form-control-static.text-primary
            br
            .form-group
              label(for='txtNotes') Notes
              textarea#txtNotes.form-control(rows='5')
            br
            hr
            h2 Do you know of any Data Consumer who successfully re-used your data product?
            p Information About Consumers Using the Publishers' APIs
            form#formAddConsumer
              .form-group
                label(for='txtConName') Consumer
                input#txtConName.form-control(type='text', placeholder='e.g. BBC')
              // Consumer's Aim
              .form-group
                label(for='txtConAim') Consumer's Motivation
                input#txtConAim.form-control(type='text', data-role='tagsinput', placeholder='e.g. News Enhancement')
                //span.input-group-btn(style='padding-top:20px')
              //span#helpBlockDomain.help-block What is the Consumer using your data for?
              //span#conAim.form-control-static.text-primary
              .form-group
                label(for='txtConURL') Use Case URL
                input#txtConURL.form-control(type='url', placeholder='e.g. http://musicbrainz.org/')
                br
              .form-group
                label(for='txtConDesc') Use Case Description
                textarea#txtConDesc.form-control(rows='5')
              button#btnAddConsumer.btn.btn-default(type='button', data-role='tagsinput', onclick='saveConsumer(this)') Add Consumer
            br
            span#txtConsumers.form-control-static.text-primary
            br
            button.btn.btn-default(type='button', onclick='addPublisher(this);') Submit
        .col-md-4
          .bs-callout.bs-callout-info
            h4 Dataset Domain
            p
              | Data published should be tagged with at least one domain. Press the Enter button for each domain.
          .bs-callout.bs-callout-warning
            h4 Nature of Content
            p
              | What is the format of the provided data? JSON Records, RDF resources, Multimedia files, etc.  Press the Enter button for each content type.
          .bs-callout.bs-callout-danger
            h4 API Formats
            p
              | How is your data available for access? RESTful APIs, SPARQL Endpoint etc. Press the Enter button for each API type.
          .bs-callout.bs-callout-info(style='margin-top:540px')
            h4 Consumer's Motivation
            p
              | Why is the consumer using your data? For example News Enhancement or Forensic Analysis. Press the Enter button to add each motivation.
          .bs-callout.bs-callout-warning
            h4 More Consumers
            p
              | Don't be shy to boast about successful consumers. For each consumer (including the first one), please press the Add Consumer button before submitting.
      hr