extends layout

block content
   .container
      // Example row of columns
      .row
        .col-md-12
          h1 Demand an API ...
          h2 ... and get the data you need
          p
            | Data Consumers should take full advantage of this Ecosystem and ask for their data requirements on this portal. Potential Data Publishers can use this portal by checking for the current demands 
            a(href='/searchdemand') here
            |.  To submit your demand using the DSaaS RESTful API, click 
            a(href='/api') here
            | .
      .row
        .col-md-8
          form#formAddPub
            .form-group
              label(for='txtDomain') Domain
              input#txtDomain.form-control(type='text', placeholder='e.g. Governmental, Weather, Cultural,  etc.')
            // Nature of Content
            .form-group
              label(for='txtDemandContent') Nature of Content
              input#txtDemandContent.form-control(type='text', data-role='tagsinput', placeholder='e.g. Records, Multimedia, Resources,  etc.')
            // Aim
            .form-group
              label(for='txtDemandContent') Motivation for Re-using Data
              input#txtDemandAim.form-control(type='text', data-role='tagsinput', placeholder='e.g. News Enhancement, Insurance Services, etc.')
            .form-group
              label(for='txtConDesc') Usage Description
              textarea#txtConDesc.form-control(rows='5')
            button.btn.btn-default(type='button', onclick='addNewDemand(this);') Submit
        .col-md-4
          .bs-callout.bs-callout-info
            h4 Nature of Content
            p
              | What is the desired format(s) for the required data? JSON Records, RDF resources, Multimedia files etc.  Press the Enter button for each content type.
          .bs-callout.bs-callout-warning
            h4 Motivation for Demand
            p
              | How do you plan to use the data you request? For example News Enhancement or Forensic Analysis. Please use short 2/3 word descriptions. Press the Enter button for each motivation. Further discussion on how you plan to use the data should be written in the Usage Description text box. 
      hr