extends layout

block content
    .jumbotron
      .container
        h1 Demand and Supply Cloud
        p Balancing the demand and supply of data through stakeholder match-making
        p
          a.btn.btn-primary.btn-lg(role='button', href='/about') Learn more »
    .container
      // Example row of columns
      .row
        .col-md-4
          h2 For Publishers
          p
            | Add your API for consumption
            br
            br
          p
            a.btn.btn-default(href='/add', role='button') View details »
        .col-md-4
          h2 For Consumers
          p
            | Check out the data available for consumption
            br
            br
          p
            a.btn.btn-default(href='search', role='button') View details »
        .col-md-4
          h2 DSaaS
          p This service is also provided as an API for consumption in your application
          p
            a.btn.btn-default(href='api', role='button') View details »
      hr