extends layout

block content
    .container
      .row
        .col-md-12
          h1 Quick Search
          p
            | Search the KB for datasets using keywords or by publisher. The search facility is equipped with auto-complete for helping the consumer to identify the right keywords, though free text search is also conducted on textual labels of instances in the KB.
      .row
        .col-md-12
        
